 <!-- Pop-up -->
 <form [formGroup]="modification1" (ngSubmit)="enregistrer(modification1.value)" class=" py-5">

 <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title"> Modification Projet</h4>
    <button type="button" class="close btn btn-outline-danger" style="color: #E30613;"  aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Contenu du pop-up -->

  <div class="modal-body">

    <div class="form-group row">
      <label class="col-3" for="statu1" style="color: #E30613;">Status</label>
      <select class="form-control col-6" 
              id="statu1"
              formControlName="status">
        <option> __ </option>
        <option> Soleil </option>
        <option> Couvert </option>
        <option> Nuage </option>
        <option> Orage</option>
      </select>
    </div>

    <div class="form-group row">

      <label class="col-3" for="date" style="color: #E30613;">Date</label>

      <input type="date" 
              class="form-control col-6" 
              id="date"
              placeholder="Date" 
              formControlName="date">
    </div>

    <div class="form-group row">
      <label class="col-3" for="commentaire1" style="color: #E30613;"> Commentaire </label>
      <textarea class="form-control col-6" 
                id="commentaire1" 
                formControlName="commentaire"
                rows="5"></textarea>
    </div>

  </div>
  
  <div class="modal-footer form-footer">
    <button type="submit" 
            class="btn btn btn-danger" 
            [disabled]="!modification1.valid">Enregistrer</button>
            {{ modification1.valid  }}
          </div>
        </ng-template>
      </form>
      
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Modification Projet</button>
      
      <br>


<!-- style="color: #E30613;"  -->