<div class="navegation py-1">
    <nav class=" nav-principal navbar navbar-expand-lg navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/img/auchan-logo.svg" alt="logo" height="87px" width="320px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_principale" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="montrer navigation">

  <span class="">    <i class="fas fa-bars primary"></i> </span>
</button>
        <div class="container">
            <div class="collapse navbar-collapse w-100 " id="nav_principale">

                <ul class="nav nav-justified  w-100 flex-column flex-sm-row">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['home']">ACCUEIL</a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['ofebam']">OFEBAM</a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['projet']">PROJET</a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['run-export']">RUN-EXPORT</a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['franchise']">FRANCHISE </a>
                    </li>
                    <div class="form-inline my-2 my-lg-0 ">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" (keyup.enter)="rechercheProjet(recherchetext.value)" #recherchetext>


                        <button (click)="rechercheProjet(recherchetext.value) " class="btn btn-outline-danger my- my-sm-0" style="border-color: #E30613;" type="button">Recherche
                          </button>
                    </div>
                </ul>

            </div>
        </div>
    </nav>
</div>
