.fond {
    background: url(../../../assets/img/18397.jpg);
    background-size: cover;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

.statusIcon {
    text-align: center;
    border: 6px solid #ffffff
}

.fa-sun:before {
    color: greenyellow;
}

.card-title {
    color: #E30613
}

.card-text {
    color: black;
}

.card {
    /* border: none; */
}

.fa-cloud:before {
    color: orange;
}

.fa-cloud-sun:before {
    color: yellow;
}

.btn-outline-danger {
    color: #000000;
}

.fa-poo-storm:before {
    color: red;
}
