<div class="fond">
    <h2 class="text-center  encabezado" style="color: #E30613;"> Recherche:
        <small class=" text-uppercase d-block animated fadeIn fast"> {{ terme }} </small>
    </h2>
    <hr class="w-100">

    <div class="row animated fadeIn fast" *ngIf="projet2.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info text-center" role="alert">
                N'existe pas de résultat avec les mots. {{ terme }}
            </div>
        </div>
    </div>

    <div class="card-columns">
        <app-projet-card [projet]= "projet" [index]= "projet.idx" *ngFor="let projet of projet2"> </app-projet-card>
       
    </div>
</div>

