<div class="fond">
    <h2 class="text-center  encabezado" style="color: #E30613;">
        <small class=" text-uppercase d-block animated fadeIn fast"> Status et List de projets </small>
    </h2>
    <hr class="w-100">
    <div class="card-columns">
        <div class="card  animated fadeIn fast" *ngFor="let projet of projets; let i = index">
            <!-- <img [src]="projet.icone" class="card-img-top img-fluid" alt="..."> -->
            <!--  Autre forme de faire  -->
            <div class="statusIcon">
                <i *ngIf="projet.status == 0" class="fas fa-poo-storm fa-5x"></i>
                <i *ngIf="projet.status == 1" class="fas fa-cloud fa-5x"></i>
                <i *ngIf="projet.status == 2" class="fas fa-cloud-sun fa-5x"></i>
                <i *ngIf="projet.status == 3" class="fas fa-sun fa-5x"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center h3 "> {{ projet.nom }} </h5>
                <p class="card-text text-justify ">{{ projet.description }}
                </p>
                <p class="card-text text-center "><small class="text-muted"> {{ projet.equipe }} </small></p>
                <a (click)="voirProjet(i)" class="btn btn-outline-danger btn-block mt-4 py-3" style="border-color: #E30613;"> Voir plus</a>
                <!-- <button (click)="voirProjet(i)" class="btn btn-outline-danger btn-block mt-4 py-3" style="border-color: #E30613;">
                    Voir plus
                </button> -->
            </div>
        </div>
    </div>
</div>
