<h1 class="animated fadeIn text-center"> {{ projetI.nom }} <small> ({{ projetI.equipe   }}) </small></h1>
<!-- para mandar parametro a los pipes se utiliza los ":" -->
<hr>

<div class="row animated fadeIn fast">

    <div class="col-md-4">
            <div class="statusIcon animated rotateIn">
                    <i *ngIf="projetI.status == 0" class="fas fa-poo-storm fa-5x"></i>
                    <i *ngIf="projetI.status == 1" class="fas fa-cloud fa-5x"></i>
                    <i *ngIf="projetI.status == 2" class="fas fa-cloud-sun fa-5x"></i>
                    <i *ngIf="projetI.status == 3" class="fas fa-sun fa-5x"></i>
                </div>
        <br><br>
        <a [routerLink]="['/projets']" class="btn btn-outline-danger btn-block">Retour</a>

    </div>

    <div class="col-md-8">
        <h3 class="text-center">{{ projetI.nom }}</h3>
        <hr>
        <p class="text-justify">
            {{ projetI.description }}
        </p>

    </div>
