<div class="suivi">
  <h2 class="text-center  encabezado" style="color: #E30613;">
    <small class=" text-uppercase d-block animated fadeIn fast"> Suivi de Projets </small>
  </h2>

  <!-- Calendrier -->

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="Date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-danger calendar" (click)="d.toggle()" type="button">
            <i class="far fa-calendar-alt fa-1x"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <hr>

  <!-- Creation des cards -->
  <div class=" card-columns mb-1 py-3">
    <div class="card animated fadeIn fast" *ngFor="let suivi of suiviProjet">
      <div class="statusIcon animated rotateIn">
        <i *ngIf="suivi.status == 0" class="fas fa-poo-storm fa-5x"></i>
        <i *ngIf="suivi.status == 1" class="fas fa-cloud fa-5x"></i>
        <i *ngIf="suivi.status == 2" class="fas fa-cloud-sun fa-5x"></i>
        <i *ngIf="suivi.status == 3" class="fas fa-sun fa-5x"></i>
      </div>

      <div class="card-body">
        <h5 class="card-title"> {{ suivi.nom }} </h5>
        <p class="card-text text-justify"> {{ suivi.commentaire }} </p>
        <p class="card-text"> {{ suivi.equipe }} </p>
      </div>

      <!-- Modal -->

      <app-popup-modification (change)="setStatus(suivi,$event)"> </app-popup-modification>
      
      <!-- Fin du modal -->
      <div class="card-footer">
        <small class="text-muted text-center"> {{ suivi.date }} </small>
      </div>
    </div> <!-- Card-->
  </div> <!-- card-columns-->

  <br>

  <app-formulaire-card (ajoutChangement)="setAjouter(suiviProjet,$event)" > </app-formulaire-card>