
.statusIcon {
    text-align: center;
    border: 6px solid #ffffff
}

.fa-sun:before {
    color: greenyellow;
}

.card-title {
    color: #E30613
}

.card-text {
    color: black;
}

.card {
    /* border: none; */
}

.fa-cloud:before {
    color: orange;
}

.fa-cloud-sun:before {
    color: yellow;
}

.btn-outline-danger {
    color: #000000;
}

.fa-poo-storm:before {
    color: red;
}
